include mixins/text

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    include head/favicon
    title Hover
    include head/viewport
    include head/style
  body
    .container
      .content
        .dummy
        .diamond
          .diamond__box
            +text (el)
        .bg
