doctype html
html(lang='en')
    head
      meta(charset='UTF-8')
      title Diamond
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='MobileOptimized', content='320')
      meta(name='HandheldFriendly', content='true')

      link(rel='stylesheet', type='text/css', href='style/style.min.css')
    body
      .container
        .content
          .dummy
          include ../blocks/diamond/diamond