$img: '1.jpg';
$back-color: rgb(229, 0, 64);

.diamond {
  &__item {
    border: 0;
    padding: 0;
    @extend %position;
    visibility: hidden;
    @include background-image($img);
    background-color: $back-color;
    @extend %back-center;
    animation: load 4.5s infinite;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.5s;
    }
    &:last-child {
      animation-delay: 2s;
    }
  }
}