$img: '2.jpg';
$focus-img: '3.jpg';
$back-color: #fff;
$back-color-focus: #3761c3;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $back-color;

  &:focus-within {
    background-color: $back-color-focus;
    @extend %back-center;
  }
}

