.diamond
  - values = ['Go!', '1', '2', '3', 'Go!'];
  - block = 'diamond__';
  - el = block + 'text';
  -cls = block + el

  ul(class = block+'list')
    each val in values
      li(class = block + 'item')
        span(class = block + 'text') #{val}


  input(class= block + 'focus' readonly)