$img: '2.jpg';
$focus-img: '3.jpg';
$back-color: lighten(gray, 40%);
$back-color-focus: #3761c3;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $back-color;
  @include background-image($img);
  @include background-image-media-all($img);
  @extend %back-center;

  &:focus-within {
    background-color: $back-color-focus;
    @include background-image($focus-img);
    @include background-image-media-all($focus-img);
    @extend %back-center;
  }
}

